

:root{
    --gradient-light-vertical: linear-gradient(
        to bottom,
        #E7F4FE 0%,
        #ffffff 100%
      );

    --mainBackgroundColor: #E7F4FE;
    --primaryColor: #5B6971;
    --headlineColor: #1358A7;
    --primaryBtnColor: #277BDA;
    --primaryBtnColorHover: #196AC6;
    --errorColor: #B42318;
    --errorBackground: #FDECEC;
    --errorBorder: #F5A5A5;
    --primaryBoxShadow:     0px 2px 10px 2px rgba(0, 0, 0, 0.1),
    0px 1px 0px rgba(58, 72, 80, 0.08),
    0px 2px 4px rgba(58, 72, 80, 0.08);

    /* Fonts */
    --h2FontSize: 28px;
    --headFontSize: 20px;
    --primaryFontSize: 18px;
    --modalFontSize: 16px;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body * {
    font-family: "Roboto", sans-serif;
}

main{
    background: var(--gradient-light-vertical);

}

h2{
    font-size: var(--h2FontSize);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 38px;
}

p{
    font-size: var(--primaryFontSize);
    line-height: 28px;
}

input{
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid  #DEDEDE;
    border-radius: 8px;
    width: 100%;
    height: 48px;

    &::placeholder{
        color: #5B6971
    }

    &:hover::placeholder{
        color: #3A4850;
    }

    &:focus{
        outline: none;
        color: #3A4850;
        border: 1px solid #277BDA;
    }

    &.invalid-input{
        border: 1px solid var(--errorBorder);
    }

    &.invalid-input::placeholder{
        color: var(--errorColor);
    }
}

nav{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    box-shadow: var(--primaryBoxShadow);
    position: relative;

    img{
        height: 32px;
        width: auto;
    }

}

.join-glasses-community-section{
    
    padding-top: clamp(34px, 5.5vh, 80px);
    display: flex;
    justify-content: center;

    .section-inner-wrraper{
        max-width: 1296px;
        display: flex;
        padding: 0px clamp(20px, 2vw, 58px);
        gap: 108px;
    }
}

.main-content{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    
    h2{
        margin: 0;
        text-wrap-style: balance
    }
}

.main-content-subTitle{
    margin: 12px 0px 28px 0px ;
    text-wrap-style: pretty;
}

.featured-images{
    display: flex;
    align-items: flex-start;
    height: 325px;
    gap: 24px;
    min-width: 0;
    max-width: 631px;
    
    img{
        height: auto;
        width: 30%;
        border-radius: 8px;
        max-height: 335px;
        max-width: 268px;

        &:nth-of-type(2){
            transform: translateY(30%);
        }
    }
}

/* Modal styles */

.signup-modal{
    background: #fff;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 12px;
    width: 440px;
    height: 484px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05), 0px 12px 16px rgba(0, 0, 0, 0.09), 0px 6px 12px 1px rgba(0, 0, 0, 0.04);

    --progressBar: 0%;

}

.progress-bar{
    height: 6px;
    background: #0000001A;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        inset: 0;
        width: var(--progressBar, 0%);
        background: var(--primaryBtnColor); 
        transition: width 0.3s ease;
    }
}

.signup-header-inner{
        
    background: var(--mainBackgroundColor);
    padding: 0px 28px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;

    .signup-headline{
        margin: 0;
        color: var(--headlineColor);
    }

    img{
        width: 12px;
        height: 12px;
    }
}


.form-content * {
    font-size: 16px;
}

.form-content{
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    justify-content: space-between;

    .is-visible{
        display: flex;
    }
}

.add-more-platforms{
    border: none;
    background: none;
    text-align: start;
    cursor: pointer;
    
    img{
        height: 10px;
        width: auto;
    }

    span:hover{
        text-decoration: underline;
    }
}

.form-content-inner{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 24px;
    text-wrap-style: balance;

    .info-container{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;
        bottom: 0;
    }

    .social-platforms-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social-platform{
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 8px;
        background: #F1F3F4;
        padding: 12px;
        border-radius: 8px
    }
    
    &.is-visible{
        padding: 24px 28px;
        box-sizing: border-box;
    }
}

.signup-step[data-step="2"] {
    padding: 28px 32px;
    overflow: auto;
    scrollbar-gutter: stable;
    height: 100%;
    padding-right: 25px;

  &::-webkit-scrollbar{
    width:7px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb{
    background: #898989;
    border-radius: 100px;
  }
}

.modal-bottom {
        display: flex;
        padding: 20px 28px 24px 28px;

    .primary-button{
        align-self: center;
        justify-self: flex-start;
        width: 100%;
    }

    &.has-shadow{
        box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.05), 0px -6px 13px rgba(0, 0, 0, 0.06), 0px -1px 6px rgba(0, 0, 0, 0.04);
    }
}

.delete-platform{
    position: absolute;
    cursor: pointer;
    right: -16px;
    top: -8px;
    border: 1px solid #DEDEDE;
    width: 28px;
    height: 28px;
    padding: 8px 8.5px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.05), 0px -6px 13px rgba(0, 0, 0, 0.06), 0px -1px 6px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.15s ease;

    &:hover{
        border: 1px solid #898989;
    }
}

.signup-finished{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 22px;
        height: 16px;
        padding: 20px;
        background: var(--mainBackgroundColor);
        border-radius: 50%;
    }
}

.signup-step[data-step="3"].is-visible {
    padding-top: 75px;
    text-align: center;
    gap: 0;

    .finish-content{
        p{
            color: #0F0F0F;
            margin-top: 28px;
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }

        span{
            font-size: var(--primaryFontSize);
            color: #0F0F0F;
            line-height: 26px;
        }
    }
}

 /* Break points */

/* top section */
@media (max-width: 1441px) {

    .join-glasses-community-section{

        .section-inner-wrraper{
            justify-content: space-between;
        }

        .featured-images{
            width: 47vw;
            max-width: 620px;
            min-width: 180px;
        }
    }
}

@media (max-width: 1181px) {

    .join-glasses-community-section{

     .main-content{
        display: block;
        width: 42%;
     }
    }
}

@media (max-width: 876px) {

    .join-glasses-community-section{
        
    .section-inner-wrraper{
        flex-direction: column-reverse;
        gap: 36px;
    }

    h2{
        font-size: 24px;
        line-height: 36px;
        text-wrap-style:unset
    }

     .main-content{
        display: block;
        width: 100%;
        text-align: center;

     }

     .featured-images{
        width: auto;
        max-width: max-content;
        min-width: 180px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
     }

     .featured-images img:last-child{
        display: none;
     }
    }

    .join-glasses-community-section .featured-images img{
        width: 46%;
        height: 90%;

        &:nth-of-type(2){
            transform: translateY(0);
            align-self: flex-end;
        }
        
        &:last-child{
            display: none;
        }
     }

}

@media (max-width: 476px) {
    .join-glasses-community-section{

        .featured-iamges{
             img{
                min-width: 140px;
             }
        }

        h2{
            text-wrap-style: balance;
        }
    }

    .signup-modal[open]{
        margin-left: 0;
        margin-right: 0;
        position: fixed;
        max-width: none;
        width: 100vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        bottom: 0;
        margin-bottom: 0;
    }
}
