dialog:not([open]){
  display: none;
}

dialog[open]{
  display: flex;
}

dialog{
    opacity: 0;
    transform: scale(0.9);

    &[open]{
        animation: fade-in 0.5s ease forwards;

    }

    &::backdrop{
        background-color: rgba(15, 15, 15, 0.7);
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .close-btn{
    cursor: pointer;
}

.error-msg{
  opacity: 0;
  visibility: hidden;
  color: var(--errorColor);
  border: 1px solid var(--errorBorder);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  transform: translateY(90%);
  transition:
  opacity 0.25s ease,
  transform 0.35s ease,
  visibility 0s linear 0.25s;
  background: var(--errorBackground);
  white-space: nowrap;
    position: absolute;
    bottom: -45px;
    z-index: 9;
}

.error-msg.has-shown{
  opacity: 1;
  visibility: visible;
  transform: translateY(-14%);

}

.primary-button{
  color: #fff;
  background: var(--primaryBtnColor);
  border: none;
  border-radius: 24px;
  padding: 0px 18px;
  height: 48px;
  width: 180px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover{
      background-color: var(--primaryBtnColorHover);
  }
}