

dialog{
    opacity: 0;
    transform: scale(0.9);

    &[open]{
        animation: fade-in 0.5s ease forwards;

    }

    &::backdrop{
        background-color: rgba(15, 15, 15, 0.7);
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .close-btn{
    cursor: pointer;
}